*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #19172e;
}

.header{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 650px;
    background: #fff;
    border-radius: 5px;
}

.header h1{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}


.form{
    padding-bottom: 15px;
    margin: 0 20px;
}

.field{
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: 2px solid #19172e;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 7px 0;
}

.textarea{
    width: 100%;
    height: 80px;
    font-size: 18px;
    border: 2px solid #19172e;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    margin: 7px 0;
}

.btn{
    width: 18%;
    font-size: 20px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 7px 4px;
    border: 0;
}